<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- <link
			rel="stylesheet"
			href="src/App.css"
		/> -->
		<title>Game Spot🎮</title>
	</head>
	<header>
		<!-- Navbar -->
		<nav
			class="relative flex w-full items-center justify-between bg-white py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark::bg-cyan-700 dark:text-neutral-200 md:flex-wrap md:justify-start"
			data-te-navbar-ref
		>
			<div class="px-6">
				<!-- Hamburger menu button -->
				<button
					class="border-0 bg-transparent px-2 py-3 text-xl leading-none md:hidden"
					type="button"
					data-te-collapse-init
					data-te-target="#navbarSupportedContentO"
					aria-controls="navbarSupportedContentO"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<!-- Hamburger menu icon -->
					<span class="[&>svg]:w-5">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="h-6 w-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
							/>
						</svg>
					</span>
				</button>

				<!-- Navigation links -->
				<div
					class="!visible hidden grow basis-[100%] items-center md:!flex md:basis-auto"
					id="navbarSupportedContentO"
					data-te-collapse-item
				>
					<h1 class="font-serif text-2xl font-semibold">Game Spot🎮</h1>
					<ul class="mr-auto flex flex-col md:flex-row" data-te-navbar-nav-ref>
						<li data-te-nav-item-ref>
							<a
								class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white md:p-2 [&.active]:border-primary [&.active]:text-primary text-xl font-serif"
								href="#!"
								data-te-nav-link-ref
								data-te-ripple-init
								data-te-ripple-color="light"
								>Home</a
							>
						</li>
						<li data-te-nav-item-ref>
							<a
								class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white md:p-2 [&.active]:border-primary [&.active]:text-primary text-xl font-serif"
								href="#!"
								data-te-nav-link-ref
								data-te-ripple-init
								data-te-ripple-color="light"
								>Top Games</a
							>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Hero section with background image, heading, subheading and button -->
		<div
			class="relative h-96 overflow-hidden bg-cover bg-no-repeat p-12 text-center lg:h-screen"
			style="
				background-image: url('https://tpc.googlesyndication.com/simgad/13570980354465565591?');
			"
		>
			<div
				class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
				style="background-color: rgba(2, 56, 53, 0.7)"
			>
				<div class="flex h-full items-center justify-center">
					<div class="text-white">
						<h2 class="mb-4 text-4xl font-semibold font-serif">
							"Unlock the Ultimate Gaming Experience!
						</h2>
						<h4 class="mb-6 text-xl font-semibold">
							Search and Review From 100's of Games
						</h4>
					</div>
				</div>
			</div>
		</div>
	</header>
</html>
